{% extends "base.html" %}
{% load static %}

{% block headers %}
<title>Play Now!</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col lg-8">
            <h1>Play</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col lg-8">
            <form action="http://localhost:8000/queue", method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-dark">Play Now</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}